SPAM_API_HOST=0.0.0.0
SPAM_API_PORT=8000
SPAM_LOG_LEVEL=info
SPAM_BOOTSTRAP_MODEL_IF_MISSING=true
SPAM_TRAIN_ON_START=false
SPAM_RETRAIN_TIMEOUT_SECONDS=900

SPAM_FEEDBACK_BACKEND=file
SPAM_DB_HOST=
SPAM_DB_PORT=3306
SPAM_DB_USER=
SPAM_DB_PASSWORD=
SPAM_DB_NAME=
SPAM_DB_TABLE=feedback_entries

# For docker compose --profile mysql, a typical setup is:
# SPAM_FEEDBACK_BACKEND=mysql
# SPAM_DB_HOST=mysql
# SPAM_DB_PORT=3306
# SPAM_DB_USER=root
# SPAM_DB_PASSWORD=root
# SPAM_DB_NAME=spam_detector

MYSQL_DATABASE=spam_detector
MYSQL_ROOT_PASSWORD=root
MYSQL_PORT_FORWARD=3306
